
<div class="novo-usuario">
  <p-button label="Novo Usuário"routerLink="/novo"></p-button>
</div>


  <div class="login-container">
    <h1>Login</h1>
    <div class="login-input">
      <input type="text" pInputText placeholder="Usuário"  formControlName="text">
    </div>

    <div class="login-input">
      <p-password type="password" placeholder="Senha" [feedback]="false"></p-password>
    </div>
    <p-button label="Entrar" onsubmit="onLogin()"></p-button>
    <br>
    <div class="esqueci-senha">
      <p-button label="Esqueci Minha Senha" [text]="true" severity="secondary" size="small"></p-button>
    </div>
  </div>
