<div class="container">
  <form>

    <div class="p-grid">
      <div class="p-col-12">
        <h1>Novo Usuário</h1>
      </div>

      <div class="p-col-6 p-md-3 p-fluid">
        <label>Nome</label>
        <input pInputText type="text" placeholder="Digite seu Nome">
      </div>
      <br>
      <div class="p-col-6 p-md-3 p-fluid">
        <label>Email</label>
        <input pInputText type="text" placeholder="Digite seu Email">
      </div>
      <br>
      <div class="p-col-12 p-md-9 p-fluid">
        <label>Senha</label>
        <p-password formControlName="value" [feedback]="false" placeholder="Digite sua Senha"/>
      </div>
      <br>
      <div class="p-col-12 p-md-9 p-fluid">
        <label>Repita sua Senha</label>
        <p-password formControlName="value" [feedback]="false" placeholder="Repita sua Senha"/>
      </div>
      <br>
      <div class="p-col-12 p-md-3 p-fluid">
        <label>CPF</label>
        <input pInputText type="text" placeholder="Digite seu CPF">
      </div>
      <br>
      <div class="p-col-12 p-md-6 p-fluid">
        <label>Perfil</label>
        <p-multiSelect
        formControlName="selectedCities"
        optionLabel="name"
        placeholder="Selecione os Perfis"/>
      </div>
      <br>
      <div class="p-col-12 p-md-6 p-fluid">
        <p-checkbox
        formControlName="ativo"
        value="ativo"
        inputId="ativo" />
    <label for="ativo">Ativo</label>
      </div>
      <br>
      <!-- <div class="p-col-12 p-fluid">
        <label>Observação</label>
        <textarea pInputTextarea rows="3"></textarea>
      </div> -->
      <div class="p-col-12">
        <button pButton type="submit" label="Salvar"></button>
        <button pButton type="button" label="Novo" class="p-button-info"></button>
        <a href="javascript:;">Voltar para a pesquisa</a>
      </div>
    </div>

  </form>
</div>
